<div class="jumbotron">
  <h1>HauteReserve</h1>
  <p>The place to make your 5 star reservations</p>

  <% if !user_signed_in? %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>

  <% end %>
</div>

<!-- Show restaurants -->

<div id="pins" class="transitions-enabled">
  <% @restaurants.each do |restaurant| %>
    <div class="box panel panel-default">
      <div class="panel-body">
        <span id="restauranttitle">
          <%= link_to restaurant.name, restaurant %>
        </span>

        <br />

        <span>
          <%= restaurant.description %>  
        </span>

        <br />

        <span style="color: #999999;">
          <%= restaurant.user.name if restaurant.user %>
        </span>

        <br />

        <% if restaurant.user == current_user %>
          <%= link_to edit_restaurant_path(restaurant) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
          <%= link_to restaurant, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>