<!-- <p id="notice"><%= notice %></p> -->

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center" id="restauranttitle">
        <%= @restaurant.name %>
      </div>
      <div class="panel-body">
        <p>
          <%= @restaurant.description %>
        </p>
        <p>
          <strong>
            <%= @restaurant.user.name if @restaurant.user %>
          </strong>
        </p>

        <% if @restaurant.user == current_user %>
          <%= link_to edit_restaurant_path(@restaurant) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
          <%= link_to @restaurant, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br /><br />

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <span>
      <%= link_to 'Back', pages_home_path,  class: "btn btn-default" %>
    </span>
  </div>
</div>




